! Aux
*scrollBar: false
URxvt*scrollTtyOutput:  false
URxvt*internalBorder: 25

! Colors
! special
*.foreground:   #eeecdb
*.background:   #2F343F
*.cursorColor:  #eeecdb

! black
*.color0:       #888888
*.color8:       #f2eab0

! red
*.color1:       #f7a695
*.color9:       #f78871

! green
*.color2:       #99d1b7
*.color10:      #baffdf

! yellow
*.color3:       #ff8f69
*.color11:      #ea8461

! blue
*.color4:       #666aa6
*.color12:      #888cc8

! magenta
*.color5:       #ff588b
*.color13:      #ff6d9a

! cyan
*.color6:       #b5ffdb
*.color14:      #2fe6ba

! white
*.color7:       #555555
*.color15:      #f2eab0

! Font
URxvt.font: xft:tewi:size=9

